.panelImage {
  /* float: right; */
  display: block;
  width: 60%;
  height: 60%;
  margin: auto;
}

body {
  background-color: #C1D6A7;
}

.panel-body {
  background-color: #E7ECE2;
}

.jumbotron {
  background-image: url("../img/paintedhills.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #f9faf7;
  margin-top: 20px;
}

.jumbotron h1 {
  opacity: 0.8;
}

.quote {
  margin-top: 20px;
}
div > li{
  list-style: none;
  font-weight: bold;
}

.card{
  border: 2px solid grey;
  width: 286px;
  text-align: center;
  padding: 2px;
}

.card-img-top {
  width: 278px;
}

.col-md-6 {
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
